[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
coverage = "*"
tox = "*"
mypy = "*"

[packages]
django = "*"
pygithub = "*"
pyjwt = "*"
pytz = "*"
uvicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
brotlipy = "*"
hiredis = "*"
celery = {extras = ["redis"], version = "*"}

[requires]
python_version = "3.8"
