[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
coverage = "*"
tox = "*"
mypy = "*"
flake8 = "*"
pipenv = "*"

[packages]
django = "*"
pygithub = "*"
pyjwt = "*"
pytz = "*"
uvicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
brotlipy = "*"

[requires]
python_version = "3.8"
